h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  background-color: #f8f8f8;
  padding-top: 90px;
  padding-bottom: 120px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.titel {
  margin-bottom: 21px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
  color: #646464;
}
.sub-titel {
  margin-bottom: 82px;
  font-weight: 500;
  font-size: 48px;
  line-height: 0.5;

  color: #111111;
  text-align: center;
}
.news-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.news-item {
  position: relative;
}
.news-item:not(:last-child) {
  margin-right: 136px;
}
.img-background {
  width: 554px;
  height: 386px;
  background-color: #f8f8f8;
  border: 2px solid #b0855b;
  border-radius: 100px 0;
  margin-bottom: 42px;
}
.img-position {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-17px, -15.5px);
  overflow: hidden;

  border-radius: 100px 0 100px 0;
}
.news-titel {
  margin-bottom: 17px;
  font-weight: 600;
  font-size: 30px;
  line-height: 0.9;

  color: #212121;
}
.news-text {
  margin-bottom: 45px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;

  color: #646464;
}
.btn {
  padding: 13px 36px;
  width: 271px;
  border: none;
  border-radius: 25px 0;
  background-color: #37806b;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff;
}
