.section__subtitle--margin {
  margin-bottom: 15px;
}
.section__title--margin {
  margin-bottom: 141px;
}

.products {
  text-align: center;
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.products__item {
  padding: 0 40px 40px 40px;
  position: relative;
  max-width: 280px;
  max-height: 598px;
  border-radius: 24px;
  @media screen and(max-width:767px) {
    &:not(:last-child) {
      margin-bottom: 130px;
    }
  }
  @media screen and(min-width:768px) {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @media screen and(min-width:1280px) {
    &:not(:last-child) {
      margin-right: 27px;
    }
  }
}
.products__item--cream {
  background-color: #ffb8ca;
  &::before {
    content: url(/images/ice-cream-mobile1x.png);
    display: block;
    width: 100%;
    // height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, -113px);
  }
}
.products__item--coffee {
  background-color: #f0d1a5;
  &::before {
    content: url(./images/ice-coffee-mobile1x.png);
    display: block;
    width: 100%;
    // height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, -113px);
  }
}
.products__item--milkshakes {
  background-color: #c2e297;
  &::before {
    content: url(../images/milkshakes-mobile1x.png);
    display: block;
    width: 100%;
    // height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, -113px);
  }
}

.products__title {
  padding-top: 161px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  position: relative;

  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  &::after {
    content: url(../images/three-points.svg);
    display: block;
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(0);
  }
}
.products__text {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fff;
}
.products__button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
}
.products__icon {
  fill: #d41443;
}
