.products {
  text-align: center;
  @media screen and(min-width:768px) {
    display: flex;
  }
}
.products__item {
  position: relative;
  min-width: 280px;
  min-height: 598px;
  border-radius: 24px;
  &:not(:last-child) {
    margin-bottom: 130px;
  }
}
.products__cream {
  background-color: pink;
  &::before {
    content: url(/images/home-pic1.png);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -70%);
  }
}
.products__coffee {
  background-color: burlywood;
  &::before {
    content: url(/images/home-pic1.png);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -70%);
  }
}
.products__milkshakes {
  background-color: #c2e297;
  &::before {
    content: url(/images/home-pic1.png);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -70%);
  }
}

.products__title {
  padding-top: 161px;
  margin-bottom: 30px;
  color: #fff;
  text-transform: uppercase;

  //   &::after {
  //     content: "";
  //     display: block;
  //     position: absolute;
  //     bottom: -30px;
  //     left: 127px;
  //     border-radius: 50%;
  //     width: 6px;
  //     height: 6px;
  //     background-color: #fff;
  //   }
}
.products__text {
  margin-bottom: 30px;
  color: #fff;
}
.products__button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
}
