.button {
  padding: 0px 37px;
  height: 44px;
  border-radius: 22px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
}
// используется по всему макету, кроме героя и одна кнопка в секции "how it’s made?" мобилка

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and(min-width:480px) {
    width: 480px;
  }
  @media screen and(min-width:768px) {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }
  @media screen and(min-width:1280px) {
    width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
  // боковые падинги по макету для контейнера(десктоп версии) в каждой секции отличаются
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-title {
  padding-bottom: 113px;
  text-align: center;
  margin-bottom: 28px;
  font-weight: normal;
  font-size: 34px;
  line-height: 39px;
}
.section-label {
  margin-bottom: 15px;
  font-family: Titan One;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  text-align: center;

  color: pink;
}
