.button {
  padding: 0px 37px;
  height: 44px;
  border-radius: 22px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
}
// используется по всему макету, кроме героя и одна кнопка в секции "how it’s made?" мобилка

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  @media screen and (min-width: 320px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    padding-left: 34px;
    padding-right: 34px;
    max-width: 768px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 115px;
    padding-right: 115px;
    max-width: 1280px;
  }
}

.section {
  margin-top: 125px;
  margin-bottom: 100px;

  @media screen and (min-width: 768px) {
    margin-top: 130px;
    margin-bottom: 115px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 125px;
    margin-bottom: 120px;
  }
}
// .section-title {
//   text-align: center;
//   margin-bottom: 141px;
//   font-weight: normal;
//   font-size: 34px;
//   line-height: 39px;
// }
// .section-label {
//   margin-bottom: 15px;
//   font-family: Titan One;
//   font-weight: 400;
//   font-size: 18px;
//   line-height: 1.16;
//   text-transform: uppercase;
//   text-align: center;

//   color: pink;
// }
.section__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.146;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.138;
  }
}

.section__subtitle {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.06em;

  text-transform: uppercase;
  color: #ffa5ba;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.133;
  }
}
