.button {
  padding: 0px 37px;
  height: 44px;
  border-radius: 22px;
  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
}
// используется по всему макету, кроме героя и одна кнопка в секции "how it’s made?" мобилка
