$titel-color: #d41443;
$black-text-color: #000000;
$gray-text-color: #907e82;
$white-color: #ffffff;
$pink-light-color: #ffb8ca;
$pink-deep-color: #e17992;
$pink-backgroud: #fff5f6;
$border-color: #e18298;
$cappucino-color: #f0d1a5;
$green-color: #c2e297;
